include LICENSE README.rst CHANGES.rst
recursive-include citeproc/data/schema *.rnc *.md
recursive-include docs *.html *.css *.png
recursive-include examples *.py *.csl *.bib
recursive-include tests *.py *.bib
prune tests/citeproc-test
