name: Test

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
    tags:
      - '*'
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - macos-latest
          - windows-latest
          - ubuntu-latest
        python-version:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
        exclude:
          # No older Pythons on arm64 macos-latest
          - python-version: '3.7'
            runs-on: macos-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install --upgrade --upgrade-strategy=eager tox tox-gh-actions

      - name: Run tests
        run: tox
        env:
          # Needed for coveralls:
          GITHUB_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

# vim:set et sts=2:
